.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100%;
}

@font-face {
  font-family: 'logoFont';
  src: url("@/fonts/Cafe24Ssurround-v2.0.ttf") format('truetype');
  font-weight: bold;
}

.logo {
  font-family: 'logoFont', sans-serif;
  font-size: 80px;
}