@font-face {
  font-family: 'logoFont';
  src: url("../../fonts/Cafe24Ssurround-v2.0.ttf") format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url("../../fonts/NotoSansKR-Regular.ttf") format('truetype');
  font-weight: normal;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 20vh;
  background-color: #EBCEC5;
  font-family: Arial, sans-serif;
  padding-top: 60px;
}

.heading {
  margin-bottom: 20px;
  color: #333;
}

.video-container {
  position: relative;
  width: 640px;
  height: 480px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background: black;
  overflow: hidden;
  margin-top: 10px;
}