@font-face {
  font-family: 'logoFont';
  src: url("@/fonts/Cafe24Ssurround-v2.0.ttf") format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url("@/fonts/NotoSansKR-Regular.ttf") format('truetype');
  font-weight: normal;
}

.container {
  background-color: var(--commonBackground);
  min-height: 80vh;
  
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center; 
  gap: 30px;
  min-height: 80vh;
  overflow: hidden;
  font-family: 'NotoSansKR', sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}