@font-face {
  font-family: 'logoFont';
  src: url("../../fonts/Cafe24Ssurround-v2.0.ttf") format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url("../../fonts/NotoSansKR-Regular.ttf") format('truetype');
  font-weight: normal;
}

.container {
  min-height: 80vh;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center; 
  gap: 30px;
  min-height: 80vh;
  overflow: hidden;
  font-family: 'NotoSansKR', sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}

.loading {
  font-family: 'logoFont', sans-serif;
  font-size: 5rem;
  color: #ff6b6b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 화면의 중앙으로 위치시킴 */
  height: auto;  /* 높이는 자동으로 조정 */
  white-space: nowrap; 
}

.spinner {
  margin-top: -10px;
  border: 7px solid #f3f3f3;
  border-top: 7px solid #ff6b6b;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
