.wrapper {
  display: flex;
  height: calc(100vh - 100px); /* 네비게이션 바 높이를 제외한 화면 전체 */
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.callEndIcon {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10;
}

.callEndIcon:hover {
  transform: translateX(-50%) scale(1.1);
}

.videoContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 4/3;
}

/* 😡"angry": "분노",
🤮"disgust": "혐오",
😨"fear": "공포",
😍"happy": "행복",
😢"sad": "슬픔",
😲"surprise": "놀람",
😶"neutral": "중립" */